---
import Icon from "../Icon.astro";

interface Item {
  icon: string;
  text: string;
}

interface Props {
  title: string;
  items: Item[];
}

const { title, items = [] } = Astro.props;
---

<section class="py-12 lg:py-24 px-6 lg:px-12 bg-surface" id="situations">
  <div class="max-w-4xl mx-auto">
    <div class="mb-16 text-center">
      <h2
        class="text-3xl lg:text-[2.75rem] font-headline font-bold text-primary-container tracking-tight mb-4"
      >
        {title}
      </h2>
    </div>
    <div class="space-y-4">
      {
        items.map((item) => (
          <div class="bg-[#F4F7F5] p-6 rounded-2xl border border-[#1E3932]/20 shadow-sm hover:scale-[1.02] hover:shadow-md transition-all duration-300 flex items-center gap-6 relative overflow-hidden group">
            <div class="absolute top-0 right-0 w-32 h-32 bg-[#1E3932]/5 rounded-bl-[100px] -z-10 group-hover:bg-[#1E3932]/10 transition-colors" />
            <div class="w-12 h-12 rounded-full bg-[#1E3932]/10 flex items-center justify-center shrink-0">
              <Icon name={item.icon} class="text-[#9A442D]" />
            </div>
            <p class="text-lg font-body font-medium text-[#1E3932]">
              {item.text}
            </p>
          </div>
        ))
      }
    </div>
  </div>
</section>
