---
import { storyblokEditable, renderRichText } from "@storyblok/astro";

const { blok } = Astro.props;
const html = blok.body ? renderRichText(blok.body) : "";
---

<article {...storyblokEditable(blok)} class="legal-prose">
  <h1>{blok.title}</h1>
  <Fragment set:html={html} />
</article>
